@import "../app.component.scss";
@import "../components/button.scss";
header {
  background-color: $background-color;
  padding: 20px 100px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0; // Stick to the top of the viewport
  z-index: 1000; // Ensure it stays on top of other content

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo h1 {
      color: $primary-color;
      font-size: 2.5rem;
    }

    ul {
      list-style: none;
      display: flex;

      li {
        margin: 0 15px;

        a {
          color: $text-color;
          text-decoration: none;
          transition: color 0.3s;

          &:hover {
            color: $primary-color;
          }
        }
      }
    }

    .hire-me {
      background-color: $primary-color;
      color: $background-color;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }
}
