<section id="home" class="hero">
  <div class="intro">
    <h1>I'm <span>Sandhya Yadav</span></h1>
    <p>
      Dedicated software developer with hands-on experience in developing,
      maintaining, and improving enterprise web applications using javascript
      and typescript. Demonstrated capability in creating new features,
      designing systems, modules from scratch and effective troubleshooting.
      Expertise spans over Design, Coding, and Deployment with a strong focus on
      crafting user-centric, interactive and intuitive frontend using React.js,
      Next.js and Angular. Proficient in backend technologies such as Node.js,
      spring boot and Express, with a strong understanding of RESTful APIs and
      microservices architecture.
    </p>
    <button>Download CV</button>
    <div class="social-icons">
      <!-- Social media icons here -->
      <i class="fab fa-github"></i>
      <i class="fab fa-linkedin"></i>
    </div>
  </div>
  <div class="profile-image">
    <img src="../../assets/myImage-removebg-preview.png" alt="Profile Image" />
    <div
      class="rotating-frame"
      [@rotateFrame]="state"
      (click)="toggleRotation()"
    ></div>
  </div>
</section>
