<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
  integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S"
  crossorigin="anonymous"
/>
<!-- 
<link href="/your-path-to-fontawesome/css/fontawesome.css" rel="stylesheet" />
<link href="/your-path-to-fontawesome/css/brands.css" rel="stylesheet" />
<link href="/your-path-to-fontawesome/css/solid.css" rel="stylesheet" /> -->
<app-header></app-header>
<app-hero #heroSection></app-hero>
<app-about #aboutSection></app-about>
<app-project #projectSection></app-project>
<app-skill #skillSection></app-skill>
<app-contact #contactSection></app-contact>

<!-- <app-github-calendar></app-github-calendar>-->
