@import "ngx-toastr/toastr";
@import "bootstrap/scss/bootstrap-grid";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
$primary-color: #e5cfff;
$background-color: #121212;
$text-color: #ffffff;
$secondary-color: #f8f8f8;

$max-width: 1200px;
$font-large: 2.5rem;
$font-medium: 1.5rem;
$font-small: 0.75rem;

// Font Weights
$font-weight-regular: 400;
$font-weight-bold: 600;

// Spacing
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;
$spacing-xlarge: 40px;

// Border Radius
$border-radius-small: 4px;
$border-radius-medium: 8px;
$border-radius-large: 16px;

// Box Shadows
$box-shadow-default: 0px 4px 6px rgba(0, 0, 0, 0.1);
$box-shadow-hover: 0px 6px 8px rgba(0, 0, 0, 0.15);

// Transition
$transition-default: all 0.3s ease-in-out;

// Media Query Breakpoints
$breakpoint-mobile: 768px;

// Common Text Styles
.large-text {
  font-size: $font-large;
  font-weight: $font-weight-bold;
  color: $primary-color;
}

.medium-text {
  font-size: $font-medium;
  font-weight: $font-weight-regular;
  color: $text-color;
}

.small-text {
  font-size: $font-small;
  font-weight: $font-weight-regular;
  color: $secondary-color;
}
@font-face {
  font-family: "Agustina Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Agustina Regular"),
    url("../assets/fonts/Agustina.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  // src: local("Montserrat"),
  //   url("../assets/fonts/Montserrat-Regular.ttf") format("woff");
  font-display: swap;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  height: 100%;
  background-color: $background-color;
}
body {
  margin: 0;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}

// Mixins
@mixin container {
  margin: 0 auto;
  padding: 0 20px;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Shared styles
.container {
  @include container;
}

.flex-center {
  @include flex-center;
}
