$primary-color: #00ff99;
$background-color: #121212;
$text-color: #ffffff;
.section {
  padding: 100px 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $background-color;
  color: $text-color;
}

#about {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .about-container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .about-text {
      width: 50%;
      p {
        font-size: 1.2rem;
        line-height: 1.5;
      }
    }

    .about-image {
      width: 45%;
      img {
        width: 100%;
        animation: float 3s ease-in-out infinite;

        @keyframes float {
          0%,
          100% {
            transform: translateY(0);
          }
          50% {
            transform: translateY(-20px);
          }
        }
      }
    }
  }
}
